<div class="more">
    <div class="content">
        <div class="control info">
            <div><span><img src="img/more/news.gif" alt=""/></span><h3>新闻公告</h3></div>
        </div>
        <div class="control info">
            <div><span><img src="img/more/plutocrat.gif" alt=""/></span><h3>土豪榜</h3></div>
        </div>
        <div class="control info">
            <div><span><img src="img/more/abouteUs.gif" alt=""/></span><h3>关于我们</h3></div>
            <div><span><img src="img/more/telUs.gif" alt=""/></span><h3>联系我们</h3></div>
        </div>
        <div class="control info">
            <div><span><img src="img/more/protocol.gif" alt=""/></span><h3>用户协议</h3></div>
            <div><span><img src="img/more/help.gif" alt=""/></span><h3>帮助中心</h3></div>
        </div>
    </div>
</div>