<div class="user">
    <div class="content">
        <div class="userHeader">
            <div class="photo">
                <img src="img/user/1.jpg" alt=""/>
            </div>
            <div class="login">
                <div>登录</div>
                <div>注册</div>
            </div>
        </div>
        <div class="nav">
            <a href=""><img src="img/user/lipin.gif" alt=""/><span>签到有礼</span></a>
            <a href=""><img src="img/user/qiandao.gif" alt=""/><span>签到</span></a>
            <a href=""><img src="img/user/lijuan.gif" alt=""/><span>礼券</span></a>
            <a href=""><img src="img/user/jifen.gif" alt=""/><span>积分</span></a>
        </div>
        <div class="control">
            <div><span><img src="img/user/touzi.gif" alt=""/></span>

                <h3>我的投资</h3><i>0.00</i><em><img src="img/user/caret.gif" alt=""/></em></div>
            <div><span><img src="img/user/jiaoyi.gif" alt=""/></span>

                <h3>交易记录</h3><i></i><em><img src="img/user/caret.gif" alt=""/></em></div>
            <div><span><img src="img/user/shenfen.gif" alt=""/></span>

                <h3>身份认证</h3><i>未认证</i><em><img src="img/user/caret.gif" alt=""/></em></div>
            <div><span><img src="img/user/card.gif" alt=""/></span>

                <h3>我的银行卡</h3><i>未绑定</i><em><img src="img/user/caret.gif" alt=""/></em></div>
            <div><span><img src="img/user/control.gif" alt=""/></span>

                <h3>设置</h3><i></i><em><img src="img/user/caret.gif" alt=""/></em></div>
        </div>
    </div>
</div>