<div class="zhaiquan">
    <div class="indexList">
        <ul>
            <li ng-repeat="item in data | setData:name">
                <div><span>押租宝</span><h4>汽车供应75期</h4></div>
                <div>
                    <span>
                        <b class="per">12</b>
                        <i>年化收益</i>
                        <em>.0%</em>
                    </span>
                    <span>
                        <b>期限</b>
                        <strong>3</strong>
                        <i>个月</i>
                    </span>
                    <span>
                        <a class="rate"><b>抢购</b><my-canvas amount="item.amount" usable="item.usable_amount"></my-canvas></a>
                        <em>已有<mark>163</mark>人购买</em>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>